@model User
@{
    ViewBag.Title = "Create user";
}
<h1>Create user</h1>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="span4">
            <fieldset>
                <legend>User data</legend>
                @Html.LabelFor(x => x.Username)
                @Html.TextBoxFor(x => x.Username)

                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email)

                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name)
            </fieldset>
        </div>
        <div class="span4">
        
            <fieldset>
                <legend>Address</legend>
                @Html.LabelFor(x => x.Address.Street)
                @Html.TextBoxFor(x => x.Address.Street)

                @Html.LabelFor(x => x.Address.City)
                @Html.TextBoxFor(x => x.Address.City)

                @Html.LabelFor(x => x.Address.ZipCode)
                @Html.TextBoxFor(x => x.Address.ZipCode)
                
                @Html.LabelFor(x => x.Address.Country)
                @Html.TextBoxFor(x => x.Address.Country)
            </fieldset>
        </div>
    </div>
    <br />
    <button type="submit" class="btn">Create</button>
    <button type="button" class="btn" onclick=" location.href = '@Url.Action("Index", "User")' ">Cancel</button>
}

@section scripts
{
    @Html.SetFocusTo(x => x.Username)
}